.navbar{
    display: flex;
    flex-direction: row;
    margin: 0px 10%;
    justify-content: space-between;
    align-items: center; 

}
.logo{
    width: 130px;
}
.links{
    list-style: none;
    display: flex;
    /* flex-grow: 1; */
    flex-basis : 50%;
    justify-content: space-around;
    align-items: center;
}
.links li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.links li a:hover{
    font-weight: 600;
    border-bottom: 2px solid white;
}
.menuIcon{
    display: none;
}
@media screen and (max-width: 768px) {
    .links{
        flex-basis : 70%;

    }
}



@media screen and (max-width: 621px) {
    .links{
        display: none;

    }
    .menuIcon{
        display: block;
    }
    .logo{
        width: 100px;
    }
}