.navbar{
    display: flex;
    flex-direction: row;
    margin: 0px 10%;
    justify-content: space-between;
    align-items: center; 
    
}
.logo{
    width: 130px;
}
.navbar ul{
    list-style: none;
    display: flex;
    /* flex-grow: 1; */
    flex-basis : 50%;
    justify-content: space-around;
    align-items: center;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.navbar ul li a:hover{
    font-weight: 600;
    border-bottom: 2px solid white;
}
.menuIcon{
    display: none;
}
@media screen and (max-width: 768px) {
    .navbar ul{
        flex-basis : 70%;

    }
}



@media screen and (max-width: 621px) {

    .menuIcon{
        display: block;
        cursor: pointer;
    }
    .logo{
        width: 100px;
    }

    .navbar{
        flex-direction: column;
        margin: 0px 0px;

    }
    .navBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0px 0px;


    }
    .navbar ul{
        display: none;
        position:absolute;
        top: 55px;
        margin-top: 2%;
        width: 100%;
        background-color: #e0b973; /* Fallback color */
       
        flex-direction: column;
        height: 320px;
    }
    .navbar ul.open{
        display: flex;
    }
}